h1 {
  font-size: 30px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 26px !important;
  }
}
h2 {
  font-size: 25px;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 22px !important;
  }
}
h3 {
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 21px !important;
  }
}
h4 {
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  h4 {
    font-size: 19px !important;
  }
}
h5 {
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  h5 {
    font-size: 17px !important;
  }
}
h6 {
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  h6 {
    font-size: 15px !important;
  }
}
