@import url("./material-symbol.config.css");
@import url("./light-theme.css");
@import url("./dark-theme.css");
@import url("./utils.css");
@import url("./heading.css");

:root {
    font-family: 'Nunito Sans', sans-serif;
}
html,
body {
    box-sizing: border-box;
    padding: 12px;
}
header nav.nav-link {
    width: 100%;
    background-color: var(--light-main-color);
}
header nav.nav-link ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header nav.nav-link ul li {
    list-style: none;
    width: 100%;
}
header nav.nav-link ul li a {
    text-align: center;
    display: block;
    color: var(--dark-main-color);
    padding: 6px 0;
}
header nav.nav-link ul li a:hover {
    background-color: var(--light-third-color);
}
header nav.nav-link .material-symbols-sharp {
    font-size: 30px;
    margin: 0;
}
main {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 12px 0;
}
article {
    background-color: var(--light-main-color);
    flex-grow: 1;
    padding: 26px;
}
aside {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: content;
    place-content: center;
    place-items: center;
    background-color: var(--light-third-color);
    max-width: 220px;
    min-width: 200px;
    padding: 12px;
}
aside img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}