@import url("./material-symbol.config.css");
@import url("./light-theme.css");
@import url("./dark-theme.css");
@import url("./utils.css");

:root {
    font-family: 'Nunito Sans', sans-serif;
}

html,
body {
    box-sizing: border-box;
}
header {
    margin: 12px;
    border-radius: 2px;
    background-color: var(--light-second-color);
}
header h1 {
    text-align: center;
    font-size: 32px;
    padding-top: 80px;
    padding-bottom: 35px;
}
header nav {
    width: 100%;
    background-color: var(--light-main-color);
}
header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header nav ul li {
    list-style: none;
    width: 100%;
}
header nav ul li a {
    text-align: center;
    display: block;
    color: var(--dark-main-color);
    padding: 6px 0;
}
header nav ul li a:hover {
    background-color: var(--light-third-color);
}
header nav .material-symbols-sharp {
    font-size: 34px;
    margin: 0;
}
.no-margin {
    margin: 0 !important;
}
main {
    display: flex;
    margin: 12px;
    align-items: flex-start;
    background-color: #fefefe;
}
article {
    background-color: var(--light-main-color);
    flex-grow: 1;
    padding: 26px;
}
aside {
    display: flex;
    flex-grow: 2;
    flex-basis: content;
    place-content: center;
    place-items: center;
    background-color: var(--light-third-color);
    max-width: 220px;
    min-width: 200px;
    padding: 12px;
}
aside img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}